#nav-down {
    background-color: #53595c;
    top: 0;


}



.box {

    margin-left: 60px;

    img {
        width: 141px;
        margin: 33px;
        width: 137px;
        margin-right: 3px;
    }

    .line {
        text-align: center;
        display: flex;
        justify-content: center;


        .menu {
            height: 100%;
            margin-top: 39px;

        }

        ul {

            display: flex;
            list-style: none;

            li {

                a {
                    text-decoration: none;
                    margin-left: 20px;

                    color: black;
                }

                &:first-child {
                    a {
                        color: red;

                    }
                }

            }



        }

    }

    .line2 {
        display: flex;
        align-items: center;

        .text {
            font-size: 12px;
        }

        a {
            text-decoration: none;
            color: black;
            text-decoration: none;
            margin-left: 20px;
        }

        span {
            text-decoration: none;
        }


        h2 {
            margin: 30px;
            font-weight: bold;
        }

        h6 {

            &:first-child {
                color: #53595c;
            }

            &:last-child {
                font-weight: bold;
            }

            font-size: 10px;
            position: relative;
            margin-top: 10px;

        }


    }


}





.nav-background {
    background-color: black;
}

.navbar {
    width: 100%;
    margin: 0 !important;

    .search {
        width: 100%;
    }

}



.nav-text h1 {
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.icons {
    align-items: center;
    // justify-content: space-around;
    font-size: 25px;
    display: flex;
    justify-content: end;
    gap: 18px;
    margin: 11px;

    ul {
        list-style: none;
    }

    .hesaba-giris-text {
        font-size: 17px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    i {
        color: #fff;

    }


}

.main-menu {
    margin-top: 20px;
    margin-left: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;



    ul {

        li {

            list-style: none;


            &:first-child {
                a {
                    color: red;
                }
            }

            i {
                color: black;
            }

        }

    }




}

.texts {

    ul {

        li {
            a {
                text-decoration: none;
                color: black;
            }

        }

    }

}

.navbar {
    padding-left: 10px;
}

.products-img {

    img {
        height: 450px;
    }

}

.product-cart {

    background: #ededee;
    border-radius: 4px;
    min-height: 132px;
    justify-content: center;
    position: relative;
    padding-left: 20px;

    .card1 {
        p {
            img {
                float: right;
            }

        }

    }

}

.product-cart2 {

    img {
        float: right;
    }

    background: #ededee;
    border-radius: 4px;
    min-height: 132px;
    justify-content: center;
    position: relative;

}

.product-cart3 {

    img {
        float: right;
    }

    background: #ededee;
    border-radius: 4px;
    min-height: 132px;
    justify-content: center;
    position: relative;
}

.product-card4 {

    img {
        float: right;
    }

    background: #ededee;
    border-radius: 4px;
    min-height: 132px;
    justify-content: center;
    position: relative;
}


.news-text {
    margin: 15px;
    margin-top: 55px;

    b {
        font-size: 22px;
    }

    span {
        margin-left: 10px;
        cursor: pointer;
    }

    i {
        margin-left: 10px;
        color: #000;
    }



}

.news-background {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 307px;
    height: 525px;

    i {
        float: right;
        font-size: 22px;
        color: #85898b;
        margin-right: 18px;
        margin-top: 20px;
    }

    img {
        margin: 20px;
        // width: 240px;
        // margin-left: 35px;
    }


}

.card-img2 {
    padding-top: 25%;
}

.card-img3 {
    padding-top: 35%
}

.card-img3 {
    padding-top: 35%
}


#card {
    margin-top: 5%;
    margin-left: 2%;
}

.card-text {
    margin-left: 42px;
    // margin-top: 70px;


    // display: flex;

    span {
        color: white;
    }
    
    .center-text{
        span{
            margin: 17px;
            margin-left: 40px;
        }
       
    }

    .card-icon{
        i{
            float: left;
        }
        
    }

}

