#nav-down {
  background-color: #53595c;
  top: 0;
}

.box {
  margin-left: 60px;
}
.box img {
  width: 141px;
  margin: 33px;
  width: 137px;
  margin-right: 3px;
}
.box .line {
  text-align: center;
  display: flex;
  justify-content: center;
}
.box .line .menu {
  height: 100%;
  margin-top: 39px;
}
.box .line ul {
  display: flex;
  list-style: none;
}
.box .line ul li a {
  text-decoration: none;
  margin-left: 20px;
  color: black;
}
.box .line ul li:first-child a {
  color: red;
}
.box .line2 {
  display: flex;
  align-items: center;
}
.box .line2 .text {
  font-size: 12px;
}
.box .line2 a {
  text-decoration: none;
  color: black;
  text-decoration: none;
  margin-left: 20px;
}
.box .line2 span {
  text-decoration: none;
}
.box .line2 h2 {
  margin: 30px;
  font-weight: bold;
}
.box .line2 h6 {
  font-size: 10px;
  position: relative;
  margin-top: 10px;
}
.box .line2 h6:first-child {
  color: #53595c;
}
.box .line2 h6:last-child {
  font-weight: bold;
}

.nav-background {
  background-color: black;
}

.navbar {
  width: 100%;
  margin: 0 !important;
}
.navbar .search {
  width: 100%;
}

.nav-text h1 {
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

.icons {
  align-items: center;
  font-size: 25px;
  display: flex;
  justify-content: end;
  gap: 18px;
  margin: 11px;
}
.icons ul {
  list-style: none;
}
.icons .hesaba-giris-text {
  font-size: 17px;
}
.icons a {
  text-decoration: none;
  color: white;
}
.icons i {
  color: #fff;
}

.main-menu {
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
}
.main-menu ul li {
  list-style: none;
}
.main-menu ul li:first-child a {
  color: red;
}
.main-menu ul li i {
  color: black;
}

.texts ul li a {
  text-decoration: none;
  color: black;
}

.navbar {
  padding-left: 10px;
}

.products-img img {
  height: 450px;
}

.product-cart {
  background: #ededee;
  border-radius: 4px;
  min-height: 132px;
  justify-content: center;
  position: relative;
  padding-left: 20px;
}
.product-cart .card1 p img {
  float: right;
}

.product-cart2 {
  background: #ededee;
  border-radius: 4px;
  min-height: 132px;
  justify-content: center;
  position: relative;
}
.product-cart2 img {
  float: right;
}

.product-cart3 {
  background: #ededee;
  border-radius: 4px;
  min-height: 132px;
  justify-content: center;
  position: relative;
}
.product-cart3 img {
  float: right;
}

.product-card4 {
  background: #ededee;
  border-radius: 4px;
  min-height: 132px;
  justify-content: center;
  position: relative;
}
.product-card4 img {
  float: right;
}

.news-text {
  margin: 15px;
  margin-top: 55px;
}
.news-text b {
  font-size: 22px;
}
.news-text span {
  margin-left: 10px;
  cursor: pointer;
}
.news-text i {
  margin-left: 10px;
  color: #000;
}

.news-background {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 307px;
  height: 525px;
}
.news-background i {
  float: right;
  font-size: 22px;
  color: #85898b;
  margin-right: 18px;
  margin-top: 20px;
}
.news-background img {
  margin: 20px;
}

.card-img2 {
  padding-top: 25%;
}

.card-img3 {
  padding-top: 35%;
}

.card-img3 {
  padding-top: 35%;
}

#card {
  margin-top: 5%;
  margin-left: 2%;
}

.card-text {
  margin-left: 42px;
}
.card-text span {
  color: white;
}
.card-text .center-text span {
  margin: 17px;
  margin-left: 40px;
}
.card-text .card-icon i {
  float: left;
}/*# sourceMappingURL=style.css.map */