#nav-down {
    background-color: #53595c;
}


.box {

    margin-left: 60px;

    img {
        width: 141px;
        margin: 33px;
        width: 137px;
        margin-right: 3px;
    }

    .line {
        text-align: center;
        display: flex;
        justify-content: center;


        .menu {
            height: 100%;
            margin-top: 39px;

        }

        .menu li {
            text-decoration: none;
            // &:first-child{
            // color: red
        }
    }

    ul {

        display: flex;
        list-style: none;

        li a {
            text-decoration: none;
            margin-left: 20px;
            color: black;
        }

    }

}

.line2 {
    display: flex;
    align-items: center;

    .text {
        font-size: 12px;
    }

    a {
        text-decoration: none;
        color: black;
        text-decoration: none;
        margin-left: 20px;
    }

    span {


        text-decoration: none;
    }


    h2 {
        margin: 30px;
        font-weight: bold;
    }

    h6 {

        &:first-child {
            color: #53595c;
        }

        &:last-child {
            font-weight: bold;
        }

        font-size: 10px;
        position: relative;
        margin-top: 10px;
    }

}





.nav-background {
    background-color: black;
}

.navbar {
    width: 100%;
    margin: 0 !important;

    .search {
        width: 100%;
    }

}



.nav-text h1 {
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

.icons {
    align-items: center;
    // justify-content: space-around;
    font-size: 25px;
    display: flex;
    justify-content: end;
    gap: 18px;
    margin: 11px;

    ul {
        list-style: none;
    }

    .hesaba-giris-text {
        font-size: 17px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    i {
        color: #fff;

    }






}

.main-menu {
    margin-top: 20px;
}

.navbar {
    padding-left: 10px;
}

.products-img {

    img {
        height: 450px;
    }

}

.product-cart {

    display: flex;

    padding: 20px;
    background: #ededee;
    border-radius: 4px;
    min-height: 132px;
    justify-content: center;
    position: relative;

    .card1 {
        p {
            img {
                float: right;
            }

        }

    }

}

.product-cart2 {

    img {
        float: right;
    }


    display: flex;

    padding: 20px;
    background: #ededee;
    border-radius: 4px;
    min-height: 132px;
    justify-content: center;
    position: relative;

}

.product-cart3 {

    img {
        float: right;
    }

    display: flex;
    padding: 20px;
    background: #ededee;
    border-radius: 4px;
    min-height: 132px;
    justify-content: center;
    position: relative;
}

.product-card4 {

    img {
        float: right;
    }

    display: flex;
    padding: 20px;
    background: #ededee;
    border-radius: 4px;
    min-height: 132px;
    justify-content: center;
    position: relative;
}

// .news-text{
//     display: flex;
// }

// .news-background{
//     background-color: #fff;
// }

.news-left{
    background-color: rgb(255, 0, 0);
    height: 200px;
}